/*CSS DOCUMENT*/

img {
width: 100%;}

h1{ 
color: rgb(0,0,128); 
text-align:center;
font-family:serif;
font-size: 2.5em;
text-transform:lowercase;
} 

.intro{ 
font-style: italic;
color:rgb(70,130,180);}

h2{ 
color:rgb(70,130,180); 
font-family:serif;
font-size: 1em;
text-align:center;
text-transform: uppercase; 
} 

.ingredients h3{ 
color:rgb(95,158,160);}

div.ingredients{ 
color:rgb(95,158,160);
background-color:rgb(95,158,160,0.4);
}

.directions h3{ 
color:rgb(255,64,35);}

div.directions{ 
color:rgb(255,64,35);
background-color:rgb(255,64,35,0.4); 
}

h6{ 
color:rgb(0,0,128);}
